blinker
coverage
falcon
funcsigs
gunicorn
httpie
mock
mongoengine
mongomock
pbr
pluggy
py
Pygments
pymongo
pytest
pytest-mongodb
python-mimeparse
PyYAML
requests
sentinels
six
tox
virtualenv
Werkzeug
wheel
